
#base
 {
     border: 1px solid #9C9898;
 }

#canvasContainer
{
    border: 0;
    border-style: solid;
    border-color: #9C9898;
    background: #4e624b url('images/greyback.jpg') no-repeat center center fixed;
    min-resolution: 100%;
    min-height: 100%;
}

#home
{
    height: 768px;
}

.status_bar_text_reg
{
    font-size: 11px !important;
}

.control_top
{
    padding: 20px 10px 20px 10px;
    max-width: 50%;
}

#popupPanel-popup
{
    right: 0 !important;
    left: auto !important;
    top: 20% !important;
}
#popupPanel
{
    width: 200px;
    border: 1px solid #000;
    border-right: none;
    background: rgba(0,0,0,.5);
    margin: -1px 0;
}
#popupPanel .ui-btn
{
    margin: 2em 15px;
}

body
{
    margin: 0;
    padding: 0;
    background: #4e624b;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: moz-none;
    -ms-user-select: none;
    user-select: none;
    max-height: 768px;
    min-resolution: 768;
}


.inline_display
{
    display: inline-block;
}

ul#display-inline-block,
ul#display-inline-block li
{
    margin: 0;
    padding: 0;
    display: inline-block !important;
    min-height: 700px;
    background: #ccc;
    vertical-align: top;
}

#display-inline-block li#canvas_parent
{
    width: 1325px;
}

.side_toolbar
{
    width: 200px;
}

.leftMiddleText
{
    vertical-align: middle;
    text-align: left;
    margin-bottom: 5px;
}

body {
    min-height: 768px;
    background: #cccccc;
}

/* -- Spectrum CSS Override -- */
div#divSpectrum .sp-replacer
{
    margin-top: -4px;
}

/* -- jQuery Mobile Override -- */
input.ui-slider-input
{
    display : none !important;
}

div#divSpectrum div.ui-input-text
{
    width: auto;
    padding: 0px;
}

div#divSpectrum .ui-body-c
{
    border: 0px;
    color: transparent;
    text-shadow: none;
    background: transparent;
}

.ui-icon-gridspective-share
{
    background-image: url('images/share.png') !important;
    background-repeat: no-repeat;
}

input[type="range"]{
    border-width: 1px;
    border-style: solid;
    border-color: #333 #333 #777 #333;
    border-radius: 25px;
    width: 100px;
    position: absolute;
    height: 13px;
    background-color: #8e8d8d;

    box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5),
    0 1px 0 0px rgba(250, 250, 250, .5);
    left: 20px;
}

.ui-focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}